.about-container {
  display: flex;
  justify-content: space-between;

  @include desktop {
    justify-content: center;
  }
}

// .about-left-side,
// .about-right-side {
//   flex-basis: calc((100% - 30px) / 2);
// }

.about-right-side {
  @include tablet {
    width: 360px;
    padding-left: 30px;
  }

  @include desktop {
    width: 470px;
  }
}

.about-left-side {
  display: none;

  @include tablet {
    display: block;
    width: 330px;
  }

  @include desktop {
    width: 570px;
  }
}

.about-gallery {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;

  @include desktop {
    flex-direction: row;
  }
}

.about-section-description {
  margin-bottom: 20px;
  width: 400px;
}

.about-text {
  width: 410px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
  margin-bottom: 40px;
}
