.page-header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: grey;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.page-header-container {
  display: flex;
  align-items: center;

  @include tablet {
    justify-content: space-between;
  }
}

.page-navigation {
  display: flex;
  align-items: center;
  column-gap: 60px;

  @include desktop {
  }
  column-gap: 70px;
}

.menu {
  display: none;

  @include tablet {
    display: flex;
    column-gap: 20px;
  }

  @include desktop {
    column-gap: 40px;
  }
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-text-color-theme-dark);
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.page-header-box {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;

  @include desktop {
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }
}
.contact-phone-number {
  display: none;

  @include tablet {
    display: inline;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-text-color-theme-dark);
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.page-header-menu-btn {
  margin-left: auto;
}
