/* Селектори:
-універсальний *
-елементу(тегу) h1
-id  #
-класу .CLASS
-атрибуту  [href] [href="http//..."]
-нащадка . . 
-дочірній >
-сестринський +
-сусідній ~
*/

/* * {
  margin: 0;
} */

/* p {
  color: aquamarine;
  margin: 20px;
} */

/* #main-link {
  color: brown;
} */

/* .item {
  background-color: blueviolet;
}
.link {
  background-color: beige;
}
.main-link {
  color: black;
} */

/* [href="https://www.google.com.ua/?hl=uk"]
{
  background-color: blue;
} */

/* .list .link {
  color: teal;
}

.test {
  background-color: blue;
} */

/* ul a {
  color: cadetblue;
} */

/* .list > .link {
  color: aqua;
}  */

/* .my-item + .item {
  background-color: blue;
} */
/* .link {
  color: brown;
} */

/* .my-item ~ .link {
  background-color: blue;
} */

/* #link {
  color: aqua;
} */

/* .link {
  color: aqua;
}
.favourite {
  color: tomato;
}

a {
  color: antiquewhite;
} */

/* .link {
  color: aqua;
  font-style: italic;
} */

/* body {
  color: yellowgreen;
}

address {
  font-style: normal;
} */

/* .link:hover {
  color: brown;
}

.title:hover {
  color: blueviolet;
} */

/* img:hover {
  transform: rotate(50deg);
} */
/* .link:focus {
  color: blue;
}

.title:focus {
  color: yellowgreen;
}

button:focus {
  background-color: aquamarine;
} */

/* button:active {
  background-color: green;
} */

/* a:visited {
  color: green;
} */
/* .description::first-line {
  color: yellow;
}

.description::first-letter {
  color: green;
} */
/* body {
  background-color: aqua;
}

.description::selection {
  background-color: teal;
  color: brown;
} */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* .block {
  margin: 0 auto;
  color: grey;
  box-sizing: border-box;
  width: 800px;
  height: 500px;
  padding: 30px;
  border: 10px dashed tomato;
  background-color: rgba(30, 30, 30, 1);
  background-image: linear-gradient(rgba(250, 250, 250, 0.6), rgba(240, 250, 250, 0.6)),
    url(https://picsum.photos/200/300?grayscale);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: padding-box;
  background-clip: content-box;
}

.simpsons {
  margin: 0 auto;
  width: 800px;
  height: 600px;
  margin-top: 50px;
  border: 10px solid brown;
  background-image: url(../images/bcgs/gomer.png), url(../images/bcgs/marge.png),
    url(../images/bcgs/bart.png), url(../images/bcgs/lisa.png), url(../images/bcgs/grampa.png),
    linear-gradient(30deg, #ffff00 0% 30px, #0000ff 150px 250px);
  /* radial-gradient(
    ellipse at center,
    #ffff00,
    #0000ff
  ); */
/* background-repeat: no-repeat;
  background-size: auto 60%, auto 60%, auto 60%, auto 60%, auto 60%, 100% 100%;
  background-position: left -5% top 35%, left 20% top 35%, left 35% bottom 0%, left 66% top 103%,
    left 97% top 35%, 0%;
}
.pseudo {
  background-color: beige;
  padding: 20px;
  margin: 0 auto;

  width: 600px;
  margin-top: 300px;
  margin-bottom: 150px;
  border: 1px dashed black;
}

.wrapper {
  text-align: center;
}

.wrapper::after {
  content: '';
  width: 150px;
  height: 150px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_5282)'%3E%3Cpath d='M9 9C10.6575 9 12 7.6575 12 6C12 4.3425 10.6575 3 9 3C7.3425 3 6 4.3425 6 6C6 7.6575 7.3425 9 9 9ZM9 10.5C6.9975 10.5 3 11.505 3 13.5V14.25C3 14.6625 3.3375 15 3.75 15H14.25C14.6625 15 15 14.6625 15 14.25V13.5C15 11.505 11.0025 10.5 9 10.5Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_5282'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* .title::before {
  content: '1.';
} */
/* .title::after {
  content: '';
  display: block;
  margin: auto;
  width: 100%;
  height: 5px;
  background-color: aqua;
}

.hovered-img {
  fill: yellow;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(140, 150, 150, 0.6);
  border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
  background-color: rgba(140, 150, 150, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: white;
}

.social-item {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-image: url(https://w7.pngwing.com/pngs/920/983/png-transparent-sadness-smiley-frown-emoticon-drawing-sad-miscellaneous-face-smile.png);
}

.social-item:hover {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6eAVALkr1xJqRzYoJXRTj1sTcWSbNsP3Q1CegPkxJtg&s);
} */
/* .title {
  padding-top: 30px;
  background-color: bisque;
} */
/* 
.item:first-child {
  background-color: bisque;
  margin-bottom: 20px;
} */
/* 
.item:last-child {
  background-color: aquamarine;
  margin-bottom: 20px;
} */

/* a*n+b */
/* 2*0=0
2*1=2
2*2=4
2*3=6
2*4=8 */

/* .item:not(:nth-last-child(-n + 3)) {
  background-color: aquamarine;
  margin-bottom: 20px;
} */

/* .our-link:hover {
  color: #ffff00;
  fill: currentColor;
} */

.wrapper {
  margin: 70px auto;
  width: 600px;
  height: 650px;
  border: 2px dotted teal;
  font-size: 25px;
  font-weight: 700;
  perspective: 500px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
}
.box1 {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
}
.box2 {
  background-color: teal;
  width: 150px;
  height: 150px;
  /* position: absolute; */
  top: 0px;
  left: 0px;
}
.box3 {
  background-color: yellowgreen;
  width: 100px;
  height: 100px;
}

.translate {
  background-color: teal;
}
.rotate {
  background-color: blueviolet;
  transition: transform ease-in-out 1s 0s, background ease-in-out 1s 0s, color ease-in-out 1s 0s;

  /* transition-property: transform, background, color;

  transition-timing-function: cubic-bezier(0, 1.6, 1, -0.47);
  transition-duration: 1500ms;
  transition-delay: 0; */
}
.rotate:hover {
  background-color: cadetblue;
  transform: rotate(360deg);
  color: brown;
}
.scale {
  background-color: coral;
  /* transform: scale(2); */
}

.skew {
  background-color: gold;
  transform: skewY(30deg);
}

.relative {
  margin: 0 auto;
  border: 2px dashed tomato;
  width: 150px;
  height: 300px;

  position: relative;
}
.text {
  position: absolute;

  background-color: rgba(255, 255, 255, 1);
  z-index: 2;
}
body {
  padding-top: 80px;
}

.subtitle {
  width: 100%;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  z-index: 100;

  color: rgb(192, 59, 2);
  background-color: rgba(30, 35, 40, 1);
}
.popup {
  position: fixed;
  top: 50%;
  right: 30px;
}
